*
!alias.zsh
!.gitignore
!.gitconfig
!.gitignore_global
!.config/terminator/
!.config/terminator/config
!.config/Code/User/
!install_go.sh
!setup.sh
!.tmux.conf
!.tmux.conf.local
!.vimrc
!.vimrc.local
!.vimrc.local.bundles
!.vim/UltiSnips/
!.zshrc
!.zsh_custom/
!.zsh_custom/themes/
!.zsh_custom/themes/custom.zsh-theme
