#global !p

#import vim

# Snippets for Go

#priority -10

# Fmt Println debug
snippet >> "fmt.Println(...)"
fmt.Println(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ${1:${VISUAL}}")
endsnippet
